<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RocketMail 🚀</title>
</head>
<body>
	<h1>RocketMail</h1>
	<h3>Who we are?</h3>
	<p>RocketMail is a technology company that is revolutionizing the email industry with its Web3 email service. Our goal is to create a decentralized email service that provides users with greater control and ownership over their emails, while also leveraging the security and transparency of blockchain technology. We believe that email is a critical communication tool that should be secure, private, and accessible to everyone. With RocketMail, we are making this vision a reality by offering a simple, user-friendly email service that is powered by the latest Web3 technologies. Join us on our mission to revolutionize the email industry and take control of your email experience.</p>
	<h3>Excited?</h3>
	<button><a href="register">JOIN US</a></button>

</body>
</html>