<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
</head>
<body>
	<h2>Register</h2>

	<form method="post">
		  {% csrf_token %}
		  <div>
		    <div class="row">
		      <div>
		        <h2>Register</h2>
		        <form>
		          <div>
		            <label for="username">Username:</label>
		            <input type="text" id="username" name="username" required>
		          </div>
		          <div>
		            <label for="password">Password:</label>
		            <input type="password" id="password" name="password" required>
		          </div>
		         
		          <p>Already have an account? <a href="login">Login here</a></p>
		          <button type="submit">Register</button>
		        </form>
		      </div>
		    </div>
		  </div>
	</div>
</body>
</html>