<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Send Email</title>
</head>

<body>
	<h1>Send Email</h1>
	<form>
		<div>
			<label for="recipient">Recipient:</label>
			<input type="text" id="recipient" name="recipient" required>
		</div>
		<br>
		<div>
			<label for="content">Content:</label>
			<textarea type="text" id="content" name="content" required></textarea>
		</div>
		<br>
		<div>
			<label for="content">IPFS:</label>
			<input type="file" id="ipfs" name="ipfs" accept=".rtf, .pdf, .txt" required>
		</div>
		<br>
		<button type="send">Send</button>
	</form>
</body>

</html>